playbooks/phishing-response/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Phishing Response Playbook",
        "description": "Automated incident response playbook for phishing incidents detected by Microsoft Sentinel. Extracts entities, posts enrichment to Teams, comments on the incident, and tags with MITRE ATT&CK technique.",
        "author": "Security Operations",
        "lastUpdateTime": "2026-03-02T00:00:00.000Z",
        "category": "IncidentResponse",
        "tags": [
            "Phishing",
            "T1566",
            "IncidentResponse",
            "Sentinel"
        ]
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "Phishing-Response-Playbook",
            "metadata": {
                "description": "Name of the Logic App playbook resource."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Azure region for the Logic App deployment."
            }
        },
        "SentinelWorkspaceId": {
            "type": "string",
            "metadata": {
                "description": "Full resource ID of the Log Analytics workspace used by Microsoft Sentinel (e.g., /subscriptions/{sub}/resourceGroups/{rg}/providers/Microsoft.OperationalInsights/workspaces/{name})."
            }
        },
        "TeamsChannelId": {
            "type": "string",
            "metadata": {
                "description": "The ID of the Microsoft Teams channel where incident notifications will be posted."
            }
        },
        "TeamsGroupId": {
            "type": "string",
            "metadata": {
                "description": "The ID of the Microsoft Teams group (team) that contains the target channel."
            }
        }
    },
    "variables": {
        "sentinelConnectionName": "azuresentinel",
        "teamsConnectionName": "teams",
        "sentinelConnectionApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]",
        "teamsConnectionApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('sentinelConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "Microsoft Sentinel",
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[variables('sentinelConnectionApiId')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('teamsConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "Microsoft Teams",
                "api": {
                    "id": "[variables('teamsConnectionApiId')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "tags": {
                "purpose": "incident-response",
                "mitre-technique": "T1566",
                "sentinel": "playbook"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SentinelWorkspaceId": {
                            "defaultValue": "",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            },
                            "conditions": []
                        }
                    },
                    "actions": {
                        "Initialize_-_Entity_Summary": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EntitySummary",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Initialize_-_IP_Addresses": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IPAddresses",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Initialize_-_Account_Entities": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AccountEntities",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Initialize_-_URL_Entities": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "URLEntities",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {}
                        },
                        "Entities_-_Get_IPs": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/ip"
                            },
                            "runAfter": {
                                "Initialize_-_IP_Addresses": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Entities_-_Get_Accounts": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            },
                            "runAfter": {
                                "Initialize_-_Account_Entities": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Entities_-_Get_URLs": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/url"
                            },
                            "runAfter": {
                                "Initialize_-_URL_Entities": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each_-_Get_IP_Entities": {
                            "type": "Foreach",
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Append_IP_to_array": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "IPAddresses",
                                        "value": "@items('For_each_-_Get_IP_Entities')?['Address']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each_-_Get_Account_Entities": {
                            "type": "Foreach",
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions": {
                                "Append_Account_to_array": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "AccountEntities",
                                        "value": "@concat(items('For_each_-_Get_Account_Entities')?['Name'], ' (', coalesce(items('For_each_-_Get_Account_Entities')?['UPNSuffix'], 'N/A'), ')')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each_-_Get_URL_Entities": {
                            "type": "Foreach",
                            "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                            "actions": {
                                "Append_URL_to_array": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "URLEntities",
                                        "value": "@items('For_each_-_Get_URL_Entities')?['Url']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Compose_-_Build_Entity_Summary": {
                            "type": "Compose",
                            "inputs": "@concat(\n  '<h3>Phishing Incident Entity Enrichment</h3>',\n  '<p><strong>Incident Title:</strong> ', triggerBody()?['object']?['properties']?['title'], '</p>',\n  '<p><strong>Incident ID:</strong> ', triggerBody()?['object']?['properties']?['incidentNumber'], '</p>',\n  '<p><strong>Severity:</strong> ', triggerBody()?['object']?['properties']?['severity'], '</p>',\n  '<p><strong>Status:</strong> ', triggerBody()?['object']?['properties']?['status'], '</p>',\n  '<p><strong>Created Time:</strong> ', triggerBody()?['object']?['properties']?['createdTimeUtc'], '</p>',\n  '<hr/>',\n  '<h4>Extracted Entities</h4>',\n  '<p><strong>IP Addresses:</strong> ', if(equals(length(variables('IPAddresses')), 0), 'None found', join(variables('IPAddresses'), ', ')), '</p>',\n  '<p><strong>Accounts:</strong> ', if(equals(length(variables('AccountEntities')), 0), 'None found', join(variables('AccountEntities'), ', ')), '</p>',\n  '<p><strong>URLs:</strong> ', if(equals(length(variables('URLEntities')), 0), 'None found', join(variables('URLEntities'), ', ')), '</p>',\n  '<hr/>',\n  '<p><strong>MITRE ATT&amp;CK Technique:</strong> T1566 - Phishing</p>',\n  '<p><strong>Incident Link:</strong> <a href=\"', triggerBody()?['object']?['properties']?['incidentUrl'], '\">View in Sentinel</a></p>'\n)",
                            "runAfter": {
                                "For_each_-_Get_IP_Entities": [
                                    "Succeeded"
                                ],
                                "For_each_-_Get_Account_Entities": [
                                    "Succeeded"
                                ],
                                "For_each_-_Get_URL_Entities": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Set_-_Entity_Summary_Variable": {
                            "type": "SetVariable",
                            "inputs": {
                                "name": "EntitySummary",
                                "value": "@{outputs('Compose_-_Build_Entity_Summary')}"
                            },
                            "runAfter": {
                                "Compose_-_Build_Entity_Summary": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Post_message_to_Teams": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "recipient": {
                                        "groupId": "",
                                        "channelId": ""
                                    },
                                    "messageBody": "<div style=\"border-left: 4px solid #d13438; padding: 10px; margin: 10px 0;\">\n<h2 style=\"color: #d13438;\">Phishing Incident Detected</h2>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 6px; font-weight: bold; width: 160px;\">Incident Title</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['title']}</td></tr>\n<tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 6px; font-weight: bold;\">Incident Number</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['incidentNumber']}</td></tr>\n<tr><td style=\"padding: 6px; font-weight: bold;\">Severity</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['severity']}</td></tr>\n<tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 6px; font-weight: bold;\">Status</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['status']}</td></tr>\n<tr><td style=\"padding: 6px; font-weight: bold;\">Created (UTC)</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td></tr>\n<tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 6px; font-weight: bold;\">Alert Product</td><td style=\"padding: 6px;\">@{triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']}</td></tr>\n</table>\n<h3>Extracted Entities</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 6px; font-weight: bold; width: 160px;\">IP Addresses</td><td style=\"padding: 6px;\">@{if(equals(length(variables('IPAddresses')), 0), 'None found', join(variables('IPAddresses'), ', '))}</td></tr>\n<tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 6px; font-weight: bold;\">Accounts</td><td style=\"padding: 6px;\">@{if(equals(length(variables('AccountEntities')), 0), 'None found', join(variables('AccountEntities'), ', '))}</td></tr>\n<tr><td style=\"padding: 6px; font-weight: bold;\">URLs</td><td style=\"padding: 6px;\">@{if(equals(length(variables('URLEntities')), 0), 'None found', join(variables('URLEntities'), ', '))}</td></tr>\n</table>\n<p><strong>MITRE ATT&amp;CK:</strong> T1566 - Phishing</p>\n<p><a href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\">View Incident in Microsoft Sentinel</a></p>\n</div>"
                                },
                                "path": "/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                            },
                            "runAfter": {
                                "Set_-_Entity_Summary_Variable": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Add_comment_to_incident": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p><strong>[Automated Phishing Response Playbook]</strong></p>\n<p>Entity extraction completed at @{utcNow()}.</p>\n@{variables('EntitySummary')}\n<p><em>This comment was generated automatically by the Phishing-Response-Playbook Logic App.</em></p>"
                                },
                                "path": "/Incidents/Comment"
                            },
                            "runAfter": {
                                "Post_message_to_Teams": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Update_incident_-_Add_MITRE_Tag": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "tagsToAdd": {
                                        "TagsToAdd": [
                                            {
                                                "Tag": "T1566-Phishing"
                                            },
                                            {
                                                "Tag": "Playbook-Executed"
                                            },
                                            {
                                                "Tag": "Initial-Access"
                                            }
                                        ]
                                    }
                                },
                                "path": "/Incidents"
                            },
                            "runAfter": {
                                "Add_comment_to_incident": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                                "connectionName": "[variables('sentinelConnectionName')]",
                                "id": "[variables('sentinelConnectionApiId')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]",
                                "connectionName": "[variables('teamsConnectionName')]",
                                "id": "[variables('teamsConnectionApiId')]"
                            }
                        }
                    },
                    "SentinelWorkspaceId": {
                        "value": "[parameters('SentinelWorkspaceId')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "logicAppManagedIdentityPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'full').identity.principalId]"
        },
        "logicAppName": {
            "type": "string",
            "value": "[parameters('PlaybookName')]"
        }
    }
}